$color-purple: #A562E4;
$color-dark-purple: #922FEE;
$color-red: #E5616A;
$color-black: #4F4F4F;
$color-gray: #828282;
$color-gray-light: #F2F2F2;
$color-orange: #FF9E48;
$color-yellow: #FFC15C;
$color-white: #FFFFFF;
$color-dark-blue: #003d5b;