@import './colors.scss';
@import './Common.scss';

body {
    font-family: sans-serif;
    color: #020202;
    background-color: $color-white;
    background-image: url('../assets/background.svg');
    margin: 0;
}