@import '../../styles/colors';

.form-generator-container {
  .form-generator-innercontainer {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .form-container {
    width: 95%;
    border: 2px solid $color-red;
    background-color: $color-white;
    padding: 20px;
    margin: 30px auto;
  }
  .form-label,
  .static {
    color: $color-dark-blue;
  }

  .form-control > input {
    color: #000000;
  }

  .SortableItem > h3 {
    color: $color-purple-dark;
    font-weight: bolder;
    font-size: 2.5rem;
  }

  .form-group > label {
    color: $color-dark-blue;
  }

  .toolbar-header > span {
    background-color: $color-red;
  }

  .edit-form > div > div > h4 {
    color: $color-purple-dark;
    font-weight: bold;
    text-decoration: underline;
  }

  .dynamic-option-list > ul > li > div > div > b {
    color: $color-dark-blue;
  }

  .submit-form-button {
    color: $color-white;
    background-color: $color-red;
    margin: auto;
    width: 20%;
    min-width: 100px;
    height: 40px;
    font-weight: bold;
  }

  .view-form-buttons-container {
    display: flex;
    flex-direction: row;
    margin: 40px 15% 0px 15%;
  }

  .view-form-return-button {
    font-weight: bold;
    text-align: center;
    color: $color-black;
    height: 40px;
    border-radius: 30px;
    background-color: #e0d9d9;
    width: 15%;
    min-width: 130px;
    line-height: 40px;
    cursor: pointer;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (min-width: 600px) {
  .form-container {
    max-width: 70%;
  }
}

@media screen and (max-width: 600px) {
  .view-form-buttons-container {
    margin: 40px 2.5% 0px 2.5% !important;
  }
}
