.accommodations-container {
    display: flex;
    justify-content: center;
    align-items: center;
    .primary-table {
        width: 90%;
        height: 70vh;
        thead {
            position: sticky;
            top: 0;
        }
    }
}

.manage-accommodations-container {
    width: inherit;
    margin: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    .add-accommodation-button {
        margin-left: auto;
    }
}